@import '../src/assets/sass/mixins.scss';
@import '../src/assets/sass/variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.app_main_box {
  max-height: 100vh;
  width: 100vw;
  position: relative;

  .app_box {
    max-width: 1400px;
    max-height: 100vh;
    margin-inline: auto;
    @include flexBox(nowrap, column, space-between, center);
  }
}
