@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';
.commentary_main_box {
  min-width: 260px;
  min-height: 120px;
  margin-top: 20px;
  color: $font_primary_color;
  @include flexBox(nowrap, row, center, center);
  .commentary_content_box {
    border-radius: 70px 7px 70px 7px;
    padding: 0 10px;
    min-height: 100px;
    width: 350px;
    padding: 10px;
    box-shadow: $shadow_color 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
    @include flexBox(nowrap, column, center, center);
    .user_box {
      height: 50px;
      width: 100%;
      @include flexBox(nowrap, row, end, center);
      .user_img_box {
        border: 1px solid;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        @include flexBox(nowrap, row, center, center);
        .user_icon {
          height: 46px;
          width: 46px;
          border-radius: 23px;
        }
      }
      .user_name {
        margin: 0 10px;
        font-size: 1rem;
        font-weight: 400;
        font-style: oblique;
      }
    }
    .commentary_text_box {
      min-height: 30px;
      margin: 10px 0;
      padding: 0 10px;
      font-weight: 600;
      color: $font_secondary_color;
      width: 100%;
    }
    .commentary_timestamp_box {
      width: 100%;
      font-style: oblique;
      padding: 0 10px;
      @include flexBox(nowrap, column, end, start);
    }
  }
  .loggedin_user_commentary_content_box {
    border-radius: 7px 70px 7px 70px;
    padding: 0 10px;
    min-height: 100px;
    width: 350px;
    padding: 10px;
    background-color: $third_background_color;
    box-shadow: $shadow_color 0px 4px 16px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
    @include flexBox(nowrap, column, center, center);
    .user_box {
      height: 50px;
      width: 100%;
      @include flexBox(nowrap, row, start, center);
      .user_img_box {
        border: 1px solid;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        box-shadow: $shadow_color 0px 2px 8px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
        @include flexBox(nowrap, row, center, center);
        .user_icon {
          height: 46px;
          width: 46px;
          border-radius: 23px;
        }
      }
      .user_name {
        margin: 0 10px;
        font-size: 1rem;
        font-weight: 400;
        font-style: oblique;
      }
    }
    .commentary_text_box {
      min-height: 30px;
      margin: 10px 0;
      padding: 0 10px;
      font-weight: 600;
      color: $font_secondary_color;
      width: 100%;
    }
    .commentary_timestamp_box {
      width: 100%;
      font-style: oblique;
      padding: 0 10px;
      @include flexBox(nowrap, column, end, end);
    }
    .edit_commentary_text_box {
      // border: 1px solid;
      width: 100%;
      text-align: center;
      @include flexBox(nowrap, column, center, center);
      .textarea_box {
        width: 100%;
        min-height: 100px;
        letter-spacing: 1.2px;
        font-size: 1rem;
        font-weight: 500;
        margin: 10px 0;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 8px;
        resize: none;
        color: $font_primary_color;
        box-shadow: $shadow_color 0px 2px 8px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
      }
      .edit_commentary_button_box {
        height: 40px;
        width: 100%;
        @include flexBox(nowrap, row, end, center);
        .save_commentary_icon,
        .close_edit_commentary_box_icon {
          border: 1px solid;
          cursor: pointer;
          margin: 0 6px;
          height: 30px;
          width: 30px;
          border-radius: 15px;
          box-shadow: $shadow_color 0px 2px 4px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
          &:hover {
            transition: 0.4s;
            border: 1px solid $font_secondary_color;
            color: $second_background_color;
            background-color: $font_secondary_color;
          }
          &:not(:hover) {
            transition: 0.5s;
          }
        }
      }
    }
    .commentary_button_box {
      height: 40px;
      width: 100%;
      @include flexBox(nowrap, row, end, center);

      .edit_icon,
      .remove_icon {
        cursor: pointer;
        border: 1px solid;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        margin: 0 6px;
        box-shadow: $shadow_color 0px 2px 4px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
        &:hover {
          transition: 0.4s;
          border: 1px solid $font_secondary_color;
          color: $second_background_color;
          background-color: $font_secondary_color;
        }
        &:not(:hover) {
          transition: 0.5s;
        }
      }
    }
  }
}
