@import '../../assets/sass/variables.scss';
@import '../../assets/sass/mixins.scss';

.movie_details_main_box {
  min-height: 82vh;
  max-width: 100%;
  border-radius: 12px;
  padding: 20px;
  background-color: $second_background_color;
  box-shadow: $shadow_color 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
  @include flexBox(nowrap, column, start, center);
  .movie_details_box {
    @include flexBox(nowrap, row, center, start);
    .img_and_button_box {
      min-height: 100%;
      width: 300px;
      margin: 10px;
      padding: 10px;
      @include flexBox(nowrap, column, space-between, center);
      .movie_img_box {
        height: 400px;
        width: 269px;
        border-radius: 12px;
        object-fit: contain;
        box-shadow: $shadow_color 0px 2px 10px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
        @include flexBox(nowrap, row, center, center);
        .movie_img {
          height: 400px;
          width: 270px;
          border-radius: 12px;
          object-fit: contain;
        }
        .movie_card_img {
          height: 400px;
          width: 270px;
          border-radius: 12px;
          box-shadow: $shadow_color 0px 2px 20px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
          @include flexBox(nowrap, column, center, center);
          .camera_icon_box {
            height: 90px;
            width: 90px;
            @include flexBox(nowrap, row, center, center);
            .camera_icon {
              height: 80px;
              width: 80px;
              color: $font_secondary_color;
            }
          }
        }
      }
      .add_movie_button {
        height: 40px;
        width: 270px;
        margin-top: 10px;
        cursor: pointer;
        border: 1px solid;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: 500;
        color: $font_secondary_color;
        background-color: $second_background_color;
        @include flexBox(nowrap, column, center, center);
        &:hover {
          transition: 0.4s;
          border: 1px solid $font_secondary_color;
          color: $second_background_color;
          background-color: $font_secondary_color;
        }
        &:not(:hover) {
          transition: 0.5s;
        }
        &:disabled {
          color: $font_secondary_color;
          background-color: $second_background_color;
        }
      }
      .home_button {
        height: 40px;
        width: 270px;
        cursor: pointer;
        border: 1px solid;
        border-radius: 8px;
        margin-top: 10px;
        font-weight: 500;
        text-decoration: none;
        color: $second_background_color;
        background-color: $font_secondary_color;
        @include flexBox(nowrap, row, center, center);
        .chevron_icon {
          height: 20px;
          width: 20px;
          margin-right: 5px;
        }
        &:hover {
          transition: 0.4s;
          color: $font_secondary_color;
          border: 1px solid $font_secondary_color;
          background-color: $second_background_color;
        }
        &:not(:hover) {
          transition: 0.5s;
        }
      }
    }
    .movie_info_box {
      min-height: 300px;
      max-width: 800px;
      padding: 10px;
      margin: 10px 0;
      line-height: 1.6;
      @include flexBox(nowrap, column, center, start);
      .movie_details_header {
        font-weight: 700;
        color: $font_primary_color;
      }
      .movie_details {
        font-weight: 400;
        font-style: oblique;
        color: $font_secondary_color;
      }
    }
    @media screen and (max-width: 820px) {
      @include flexBox(nowrap, column, center, center);
    }
  }
}
