@import '../../assets/sass/variables.scss';
@import '../../assets/sass/mixins.scss';

.mylist_main_box {
  min-height: 700px;
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  background-color: $second_background_color;
  color: $font_primary_color;
  box-shadow: $shadow_color 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
  @include flexBox(nowrap, row, center, center);
  .mylist_box {
    min-height: 100%;
    max-width: 100%;
    @include flexBox(nowrap, column, center, center);
    .mylist_info_box {
      max-width: 400px;
      height: 300px;
      @include flexBox(flex, column, center, center);
    }
    .my_list_title {
      margin: 10px 0 20px 0;
    }
    .list_item_box {
      border-bottom: 1px solid $font_secondary_color;
      width: 600px;
      min-height: 150px;
      padding: 20px;
      margin-bottom: 10px;
      @include flexBox(nowrap, row, space-between, center);
      @media screen and (max-width: 700px) {
        max-width: 320px;
        @include flexBox(nowrap, column, space-between, center);
      }
      .list_item_img_box,
      .movie_card_img {
        border-radius: 5px;
        height: 160px;
        width: 110px;
        .list_item_img,
        .camera_icon_box {
          border-radius: 5px;
          height: 160px;
          width: 110px;
          box-shadow: $shadow_color 0px 2px 12px 0px,
            rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
          @include flexBox(nowrap, row, center, center);
          .camera_icon {
            height: 50px;
            width: 50px;
          }
          @media screen and (max-width: 700px) {
            height: 260px;
            width: 170px;
          }
        }
        @media screen and (max-width: 700px) {
          height: 260px;
          width: 170px;
        }
      }
      .list_item_detail_box {
        padding: 10px;
        min-height: 100px;
        width: 180px;
        margin: 20px 0;
        @include flexBox(nowrap, column, center, center);
        @media screen and (max-width: 700px) {
          min-height: 50px;
          min-width: 100px;
        }
        .list_item_title,
        .list_item_year {
          @include flexBox(nowrap, column, center, center);
          .title,
          .year {
            width: 100%;
            text-align: center;
            @include flexBox(nowrap, row, center, center);
            font-weight: 400;
          }
        }
      }
      .list_item_icon_box {
        position: relative;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        box-shadow: $shadow_color 0px 2px 10px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
        @include flexBox(nowrap, column, center, center);
        .list_item_icon {
          height: 22px;
          width: 22px;
          font-weight: 500;
          cursor: pointer;
          &:hover {
            height: 24px;
            width: 24px;
            transition: 0.3s;
          }
          &:not(:hover) {
            transition: 0.3s;
          }
        }
      }
    }
  }
  .mylist_info_box {
    line-height: 2;
    @include flexBox(nowrap, column, center, center);
    .grid_movies_button {
      height: 40px;
      width: 120px;
      margin: 20px 0;
      cursor: pointer;
      border: 1px solid;
      border-radius: 20px;
      font-weight: 500;
      text-decoration: none;
      color: $second_background_color;
      background-color: $font_secondary_color;
      @include flexBox(nowrap, row, center, center);
      .chevron_icon {
        height: 20px;
        width: 20px;
        margin-right: 5px;
      }
      &:hover {
        transition: 0.4s;
        color: $font_secondary_color;
        border: 1px solid $font_secondary_color;
        background-color: $second_background_color;
      }
      &:not(:hover) {
        transition: 0.5s;
      }
    }
  }
  .total_amount_box {
    height: 50px;
    width: 560px;
    padding: 5px;
    @include flexBox(nowrap, row, space-between, center);
    .total_amount {
      font-size: 1.1rem;
      font-weight: 500;
    }
    @media screen and (max-width: 700px) {
      max-width: 320px;
    }
  }
}
