@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';

.login_main_box {
  min-height: 82vh;
  width: 100%;
  border-radius: 12px;
  background-color: $second_background_color;
  color: $font_secondary_color;
  box-shadow: $shadow_color 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
  @include flexBox(nowrap, row, center, center);
  .login_box {
    position: relative;
    padding: 10px;
    height: 280px;
    width: 320px;
    font-size: 0.9rem;
    border-radius: 12px;
    box-shadow: $shadow_color 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
    @include flexBox(nowrap, column, center, center);
  }
  .login_form {
    height: 230px;
    width: 280px;
    padding: 10px 0;
    @include flexBox(nowrap, column, start, center);
    .formik_error_text_box {
      height: 20px;
      width: 260px;
      padding: 0 6px;
      @include flexBox(nowrap, row, start, center);
      .formik_error_text {
        color: $error_color;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
    .label_box {
      height: 20px;
      width: 260px;
      padding: 0 6px;
      @include flexBox(nowrap, row, start, center);
    }
    .input_box {
      width: 260px;
      margin-bottom: 10px;
      .login_input {
        width: 260px;
        height: 36px;
        padding: 0 6px;
        border: 1px solid;
        border-radius: 5px;
        outline: none;
        letter-spacing: 1.5px;
        color: $font_secondary_color;
      }
    }
    .login_button {
      height: 36px;
      width: 260px;
      margin: 5px 0;
      cursor: pointer;
      border: 1px solid;
      border-radius: 5px;
      font-weight: 500;
      color: $second_background_color;
      background-color: $font_secondary_color;
      @include flexBox(nowrap, column, center, center);
      &:hover {
        transition: 0.4s;
        color: $font_secondary_color;
        border: 1px solid $font_secondary_color;
        background-color: $second_background_color;
      }
      &:not(:hover) {
        transition: 0.5s;
      }
    }
    .info_box {
      height: 30px;
      width: 280px;
      color: $font_secondary_color;
      @include flexBox(nowrap, row, center, center);
      .info_text {
        font-size: 0.9rem;
      }
      .signup_link {
        color: $font_secondary_color;
        font-weight: 500;
      }
    }
  }
}
