@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';

.rating_main_box {
  height: 40px;
  min-width: 180px;
  margin: 15px 0 5px 0;
  color: $font_secondary_color;
  @include flexBox(nowrap, row, space-between, center);
  .rating_box {
    border-radius: 15px;
    height: 32px;
    min-width: 70px;
    @include flexBox(nowrap, row, space-around, center);
    .thumb_box {
      height: 32px;
      width: 32px;
      @include flexBox(nowrap, row, center, center);
      .thumb_icon {
        cursor: pointer;
        height: 24px;
        width: 24px;
        &:hover {
          transition: 0.2s;
          height: 32px;
          width: 32px;
        }
        &:not(:hover) {
          transition: 0.2s;
        }
      }
      .thumbs_up,
      .thumbs_down {
        height: 32px;
        width: 32px;
      }
    }
    .total_thumbs_box {
      border-radius: 13px;
      height: 26px;
      min-width: 26px;
      padding: 4px;
      background-color: $font_secondary_color;
      color: $third_background_color;
      font-style: italic;
      font-weight: 600;
      @include flexBox(nowrap, row, space-around, center);
    }
  }
}
