@import '../../assets/sass/variables.scss';
@import '../../assets/sass/mixins.scss';

.home_main_box {
  min-height: 82vh;
  width: 100%;
  border-radius: 12px;
  background-color: $second_background_color;
  box-shadow: $shadow_color 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
  @include flexBox(nowrap, column, space-between, center);
}
