@import '../../assets/sass/variables.scss';
@import '../../assets/sass/mixins.scss';

.home_main_box {
  min-height: 82vh;
  width: 100%;
  background-color: $second_background_color;
  @include flexBox(nowrap, column, space-between, center);
}
