@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';

.page_not_found_main_box {
  min-height: 750px;
  width: 100%;
  border-radius: 12px;
  background-color: $second_background_color;
  color: $font_secondary_color;
  box-shadow: $shadow_color 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
  @include flexBox(nowrap, column, center, center);
  .page_not_found_box {
    min-height: 400px;
    min-width: 340px;
    font-size: 0.9rem;
    border-radius: 12px;
    text-align: center;
    @include flexBox(nowrap, column, center, center);
    .error_icon {
      height: 150px;
      width: 150px;
    }
    .page_not_found_text_box {
      @include flexBox(nowrap, column, center, center);
      .page_not_found_status_code {
        font-size: 6rem;
        font-weight: 700;
      }
      .page_not_found_text {
        font-size: 3rem;
        font-weight: 700;
      }
    }
  }
}
