@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';

.commentary_main_box {
  width: 340px;
  min-height: 160px;
  margin-top: 20px;
  border-radius: 8px;
  color: $font_secondary_color;
  background-color: $third_background_color;
  box-shadow: $shadow_color 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 0px;
  @include flexBox(nowrap, column, start, center);
  .common_box {
    border-radius: 8px;
    .text_area_box {
      width: 340px;
      min-height: 120px;
      @include flexBox(nowrap, column, center, center);
      .text_area {
        width: 340px;
        min-height: 120px;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 8px;
        color: $font_primary_color;
        letter-spacing: 1.2px;
        font-size: 1rem;
        font-weight: 500;
        resize: none;
        &::placeholder {
          color: $shadow_color;
          font-size: 1rem;
        }
      }
    }
    .submit_commentary_button_box {
      height: 40px;
      width: 100%;
      cursor: pointer;
      border-radius: 0 0 8px 8px;
      color: $second_background_color;
      background-color: $font_secondary_color;
      @include flexBox(nowrap, column, center, center);
      .submit_commentary_button {
        height: 100%;
        width: 36px;
        @include flexBox(nowrap, column, center, center);
        .send_icon {
          height: 24px;
          width: 24px;
        }
      }
      &:hover {
        transition: 0.4s;
        color: $font_secondary_color;
        border: 1px solid $font_secondary_color;
        background-color: $second_background_color;
      }
      &:not(:hover) {
        transition: 0.5s;
      }
    }
  }
}
