//colors
$primary_color: #d63484;
$secondary_color: #fae7f3;
$first_background_color: #e3dffd;
$second_background_color: #ecf2ff;
$third_background_color: #fff;
$shadow_color: #ad88c6;
$font_primary_color: #7e30e1;
$font_secondary_color: #864af9;
$error_color: #ff204e;
